<!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='UTF-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'>
      <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
      <title>Ticket juega: 1bbc61e5</title>
    </head>
    <body style='background-color: #eef5f9; overflow-x: hidden;'>
      <% if(ticket){ %>
        <div class='container'>
          <div class='row justify-content-center mt-2'> 
            <div class='col-12'>
              <div class='card mt-2' style='width: 19rem; margin: auto;'>
              <img src='http://localhost:4000/rifamax/logo.png' class='img-fluid' alt='Logo Rifamax'>
                <div class='card-body'>
                  <h5 class='card-title text-center'>921 - ARIES</h5>
                  <h5 class='card-title text-center'>PRECIO: 3$</h5>
                  <div class='row'>
                    <hr>
                    <div class='col-6'>
                      <p class='card-text'><strong>PREMIO: </strong></p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text text-end'><strong>Prueba</strong></p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text'><strong>SIN SIGNO: </strong></p>
                    </div>
                    <div class='col-6 mb-3'>
                      <p class='card-text text-end'><strong>0$</strong></p>
                    </div>
                    <hr>
                    <div class='col-6'>
                      <p class='card-text'>SERIE NUMERO: </p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text text-end'>3194</p>
                    </div>
                    <div class='col-4'>
                      <p class='card-text'>LOTERIA: </p>
                    </div>
                    <div class='col-8'>
                      <p class='card-text text-end'>ZULIA 7A 7:05PM</p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text'>FECHA: </p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text text-end'>17/01/2023</p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text'>HORA: </p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text text-end'>13:54:26</p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text'>CADUCA: </p>
                    </div>
                    <div class='col-6'>
                      <p class='card-text text-end'>22/01/2023</p>
                    </div>
                    <div class='col-4'>
                      <p class='card-text'>RIFERO: </p>
                    </div>
                    <div class='col-8'>
                      <p class='card-text text-end'>Eudo Fuenmayor</p>
                    </div>
                    <div class='col-5'>
                      <p class='card-text'>TELEFONO: </p>
                    </div>
                    <div class='col-7'>
                      <p class='card-text text-end'>04120707124</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-12'>
                <div class='card mt-2 mb-3' style='width: 19rem; margin: auto;'>
                  <div class='card-body'>
                    <h5 class='card-title text-center'>Reglamento</h5>
                    <p class='card-text'>Boleto cortesia de RifaMax®<br><br>
                      RifaMax® solo se hace responsable del pago a la persona que aparece como el rifero  vendedor de este boleto, si resultase ganador del premio correspondiente al TRIPLE ZULIA  de la lotería del Zulia sorteo Triple A de las 7:05 pm más el signo del sorteo ZODIACAL DEL ZULIA  de las 7:05 pm hasta por el monto que el mismo haya sido comprado para dicho sorteo.<br><br>
                      RifaMax® no se hace responsable bajo ningún término cancelar premio a rifero que no compre antes de la hora del sorteo ya que es unica y exclusiva responsabilidad del rifero responsable comprar el número antes de la hora del sorteo.<br><br>
                      
                      Rifamax® solo le cancelara premios al rifero responsable en caso de haber comprado el número ganador.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% } else{%>
        <div class="row justify-content-center mt-2">
          <div class="col-12">
            <div class="card" style="width: 19rem; margin: 33vh auto 0 auto;">
              <img src='http://localhost:4000/rifamax/logo.png' class='img-fluid' alt='Logo Rifamax'>
              <div class="card-body">
                <h5 class="card-title text-center">No se encontró el ticket</h5>
              </div>
            </div>
          </div>
        </div>
      <% } %>
    </body>
  </html>